@if (isLoading) {
  <div>Загрузка данных...</div>
}

@if (errorMessage) {
  <div class="error">
    {{ errorMessage }}
  </div>
}

@if (!isLoading && !errorMessage) {
  <ul class="list_of_packages">
    @for (pkg of changedPackages; track pkg.id) {
      <li class="package">
        <div class="pack_head" [innerHTML]="highlightPackageName(pkg.id)"></div>
        <div class="pack_data">
          {{ pkg.weeklyDownloads }} 
          <ng-icon class="icon-download" name="bootstrapDownload"/>
        </div>
        <div class="pack_data">{{ pkg.dependencyCount }}</div>
      </li>
    }
  </ul>
}